<body>

  <div class="image">
    <ion-img class="imagen" src="../assets/img/homer"></ion-img>
  </div>

  <div class="selector">
    <ion-item class="seleccion">
      <ion-label>Difficulty</ion-label>
      <ion-select [(ngModel)]="dificultad">
        <ion-select-option value="facil">Facil</ion-select-option>
        <ion-select-option value="dificil">Dificil</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="botones">
    <ion-button (click)="goToNextPage()" size="large" color="light">PLAY</ion-button>
    <ion-button size="large" color="light">HELP</ion-button>
  </div>

</body>