.seleccion{
    --background: white;
    margin-top: 40%;
    width: 80%;
    margin-bottom: 0%;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
}

.selector{
    display: flex;
    justify-content: center;
}

.imagen{
    margin-top: 30%;
    width: 50%;
    height: 30%;
}

.botones{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-button{
    width: 40%;
}