<ion-content>

  <div class="divPalabra">
    <label class="pala">
      {{palabra}}
    </label>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button color="light">A</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">B</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">C</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">D</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">E</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">F</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="actionMethod($event)" color="light">G</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">H</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">I</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">J</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">K</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">L</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-button color="light">M</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">N</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">Ñ</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">O</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">P</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">Q</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-button color="light">R</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">S</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">T</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">U</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">V</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="goToNextPage()" color="light">W</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="2">
        <ion-button color="light">X</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">Y</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">Z</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>