<ion-content>

  <div class="elemento">

    <ion-label>ENHORABUENA!</ion-label>

  </div>

  <br>

  <div class="elemento">

    <ion-label>LO HAS CONSEUIDO EN INTENTOS</ion-label>

  </div>

  <div class="botones">
    <ion-button (click)="goToPreviousPage()" size="large" color="light">PLAY AGAIN</ion-button>
    <ion-button (click)="goToMenu()" size="large" color="light">MENU</ion-button>
  </div>
</ion-content>