.botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-content{
    text-align: center;
}

.elemento{
    margin-bottom: 100px;
}

ion-button{
    width: 40%;
}